<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Seneca HR System</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
    {{>header}}
    <br>
    <h2>Employee Hiring Form</h2>

        <form class="empForm" id="employeeForm" method="post" action="/employee">
        <div class="form-empinfo">
            <h3>Employee Information</h3>
                <label for="fname">First Name</label>
                <input id="fname" name="fname" type="text" placeholder="John" value="">
                <br>
                <br>
                <label for="lname">Last Name</label>
                <input id="lname" name="lname" type="text" placeholder="Smith" value="">
                <br>
                <br>
                <label for="email">Email</label>
                <input id="email" name="email" type="text" placeholder="johnsmith@abc.com" value="">
                <br>
                <br>
                <label for="phone">Phone</label>
                <input id="phone" name="phone" type="text" placeholder="123.456.7890" value="">
                <br>
                <br>
                <label for="hiredate">Hire Date</label>
                <input id="hiredate" name="hiredate" type="date">
                <br>
                <br>
                <label for="salary">Salary</label>
                <input id="salary" name="salary" type="text" placeholder="5000.00" value="">
        </div>
        
        <div class="form-info">
            <h3>Job Information</h3>
            <br>
            <label for="job_id">Job_ID</label>
            <label for="job_title">Job_Title</label>
        </div>

        <div class="form-info">
            <h3>Manager</h3>
            <br>
            <label for="employee_id">Employee_id</label>
            <label for="first_name">First_Name</label>
            <label for="last_name">Last_Name</label>
        </div>

        <div class="form-info">
            <h3>Department</h3>
            <br>
            <label for="department_id">Department_id</label>
            <label for="department_name">Department_Name</label>
        </div>

    <section class="buttons">
        <button id="cancel" name="btnsubmit" type="submit" value="cancel">Cancel</button>
        <button id="submit" name="btnsubmit" type="submit" value="hire">Hire</button> 
    </section>
    </form>
</body>
</html>