<style>
    input{
        border: 0;
        outline:0;
        width:fit-content;
    }
    .form-group{
        border-style: solid;
        padding: 5px;
    }
    .dropDown-group{
        text-align: center;
        border-style: solid;
    }
</style>

<div class="container">
    <div class="row">
        <div style="border-style: solid;" class="offset-md-1 col-md-9">
            <h1><%= title %></h1>
            <br>
            <form class="form" method="POST">
                <table style="width:100%; border-collapse: seperate; border-spacing: 5em;">
                    <tr>
                        <td>
                            <div class="form-group">
                                <label for="jobIDTextField">Job_ID: </label>
                                <input type="text"
                                id="jobIDTextField"
                                name="job_id" required>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="jobTitleTextField">Job_Title: </label>
                                <input type="text"
                                id="jobTitleTextField"
                                name="job_title" required>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label for="minSalaryTextField">Min Salary: </label>
                                <input type="text"
                                id="minSalaryTextField"
                                name="min_salary" required>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="maxSalaryTextField">Max Salary: </label>
                                <input type="text"
                                id="maxSalaryTextField"
                                name="max_salary" required>
                            </div>
                        </td>
                    </tr>
                </table>
                <br>

                <div style="text-align: center;">
                    <button class="btn btn-primary" type="submit"><i class="fas fa-edit"></i> Hire</button>
                    <a href="/jobs/list" class="btn btn-warning"><i class="fas fa-undo"></i> Cancel</a>
                </div>   
            </form>
        </div>
    </div>
</div>